body {
    margin : 0px;
    padding :0px;
}


.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
 }
.header-list {
    float: right;
    padding: 20px;

}
.header-list button {
    font-size: 15px;
}
.header {
    background-color: #CCFFFF;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
}
.random-button button {
    font-size :24px;
}
.random-button {
    text-align:center;
}
.select-meal {
    text-align:center;
}
.meal-register {
    text-align:center;
}
.meals-list {
    text-align:center;
}
.meal-detail {
    text-align:center;
}
.categoly-list {
    text-align:center;
}
.categoly-create {
    text-align:center;
}
/*料理詳細*/

.meal-wrapper {
    margin-top: 110px;
}
.name-block {
    display: flex;
    justify-content: space-around;
}
.infomation {
    display: flex;
}
.orange_column {
    margin: 0 18px;
    text-align: center;
}
.meal-name {
    font-size: 25px;
    font-weight: bold;
}
.memo {
    display: flex;
    justify-content: space-around;
    margin: 0 70px;
}
.memonoNakami {
    width: 300px;
}
